<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ErrerLogFilePath" value="F:\Karol\PASS APPS\SessionCloser\SessionCloser\Logs\Errors"/>
    <add key="LogFilePath" value="F:\Karol\PASS APPS\SessionCloser\SessionCloser\Logs\App"/>
    <add key="BatchLogFilePath" value="F:\Karol\PASS APPS\SessionCloser\SessionCloser\Logs\Batch"/>
    <add key="BatchFilePath" value="F:\Karol\PASS APPS\SessionCloser\SessionCloser\Batch"/>
    <add key="ImportPath" value="F:\Karol\PASS APPS\SessionCloser\import"/>
    <add key="AdminUsers" value="kweyer;ttheda;mhesse;administrator"/>
    <add key="DefaultTimeout" value="120"/>
    <add key="DefaultWorkerTimeout" value="1"/>
    <add key="InforPRODD7" value="data source =(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(COMMUNITY = TCP.WORLD)(HOST = ORADB1)(PORT = 1521))(CONNECT_DATA = (SID = PRODD7)(GLOBAL_NAME = PRODD7)));user id=SAFEPORTAL;password=kprad;"/>
    <add key="InforPRODPL7" value="data source =(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(COMMUNITY = TCP.WORLD)(HOST = ORADB2)(PORT = 1521))(CONNECT_DATA = (SID = PRODPL7)(GLOBAL_NAME = PRODPL7)));user id=SAFEPORTAL;password=kprad;"/>
    <add key="InforPRODSK7" value="data source =(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(COMMUNITY = TCP.WORLD)(HOST = ORADB3)(PORT = 1521))(CONNECT_DATA = (SID = PRODSK7)(GLOBAL_NAME = PRODSK7)));user id=SAFEPORTAL;password=kprad;"/>
    <add key="InforPRODCN7" value="data source =(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(COMMUNITY = TCP.WORLD)(HOST = ORADB4)(PORT = 1523))(CONNECT_DATA = (SID = PRODCN7)(GLOBAL_NAME = PRODCN7)));user id=SAFEPORTAL;password=kprad;"/>
    <add key="InforPRODMX7" value="data source =(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(COMMUNITY = TCP.WORLD)(HOST = ORADB4)(PORT = 1521))(CONNECT_DATA = (SID = PRODMX7)(GLOBAL_NAME = PRODMX7)));user id=SAFEPORTAL;password=kprad;"/>
    <add key="InforPRODBA7" value="data source =(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(COMMUNITY = TCP.WORLD)(HOST = ORADB3)(PORT = 1523))(CONNECT_DATA = (SID = PRODBA7)(GLOBAL_NAME = PRODBA7)));user id=SAFEPORTAL;password=kprad;"/>
  </appSettings>
</configuration>
